{% load static %}
<div class="row featurette">
  <div class="col-md-7 text-right">
    <h2 class="featurette-heading">من نحن. <span class="text-muted">It'll blow your mind.</span></h2>
    <p class="lead">بصفتنا شركة متخصصة وديناميكية في مجال البيع المباشر، فإننا نوفر إطار العمل و الأدوات التي تتيح للأعضاء لدينا الارتقاء بنوعية حياتهم بشكل فعال من خلال تقديم منتجات معيشية عالية القيمة، ومن خلال فرصة أعمال التسويق المباشر وخطة العمولات الجذابة.
    كيف ؟ نحن نقدم أفضل المنتجات في المجال المناسب. ويصب اهتمامنا بشكل أساسي على النظام الخاص والمتقدم للشركة والذي يعمل على تعزيز المتجر في S. C. C لمؤسسي المشروعات. كما نوفر فرصة كاملة الدعم لريادة الأعمال وتهدف لترقية نطاق منتجات وأعمال الشركة الأخرى. وبانتهاز فرصة العمل أو دون انتهازها، فالشركة تقوم بعمليات بيع بالتجزئة لمجموعة متنوعة من المنتجات التي من شأنها تحسين الحياة اليومية لعملائنا..</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
  </div>
</div>
<hr class="featurette-divider">