{% load static %}

<div class="row">
  <div class="col-lg-4 text-right">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>رسالة الشركة</h2>
    <p>
    "ارتقِ بنفسك لمساعدة الآخرين" تتمثل رسالتنا في مساعدة الأفراد على استغلال طاقاتهم الكامنة وتحقيق أهدافهم من خلال تقديم فرص تجارية ومنتجات على مستوى عالٍ من الجودة..</p>
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-right">
      <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>الدعم والتدريب</h2>
      <p>حن عملنا على تجهيز احدث البرامج والطريق الجيدة لتسهيل العمل في البيع المباشر ولكافة الاعمار من الجنسين في ممارسة هذا العمل الجيد لبناء كل ما يحلم ويرغب بتحقيقه عملاء ومسوقين الشركة</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-right">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>العمل الجماعي</h2>
        <p>
        إننا نعمل سويًا كفريق عمل موحد يجمعنا هدف واحد من أجل تحقيق أفضل النتائج لصالح كل فرد. نحن عديدون ومتنوعون،لكننا نعمل معاً كشخص واحد.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->