{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}
<div class="row d-flex justify-content-center mt-2">
  <div class="col-sm-5 col-md-3  mx-auto mb-3">
    <h2>المعلومات الشخصية </h2>  
  </div>
</div>
<div class="row d-flex justify-content-center" style="font-size: 1.3rem;font-weight: 500;" >
   <div class="col-sm-11 col-md-8  mx-auto  ">
    <div class="content-section text-right" >
        <form method="POST"    enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'bs4_form.html' with form=u_form %}
            <hr class="featurette-divider  mx-5 my-5">
            {% include 'bs4_form.html' with form=P_form %}
             <hr class="featurette-divider  mx-5 my-5">

              {% if  user.is_staff %}
            <div class="row d-flex justify-content-center">
            <div class="col-sm-2 col-md-2  mx-auto ">
              <button class="btn btn-outline-info  btn-lg mr-auto  mt-4" type="submit">حفظ</button>
            </div>
            </div>
            {% endif %}
         <hr class="featurette-divider  mx-5 my-5">
        </form>
    </div>
    </div>
    </div>
     <hr class="featurette-divider  mx-5 my-5">
{% endblock content %}