{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
	<div class="container  m-t5">
		<div class="row  d-flex justify-content-center   text-center">
			<div class="col-md-9 col-sm-12 mt-1   shadow-lg p-3  rounded">
				<div class="media">
					
					<div class="media-body">
						<h5 class="mt-0 font-weight-bold">{{user.first_name}} {{user.profile.father }} {{ user.last_name}}</h5>
						
					</div>
				</div>
			</div>
		</div>
		<div class="row  d-flex justify-content-center   text-center">
			<div class="col-md-9 col-sm-12 mt-1   shadow-lg p-3  rounded">
				<div class="media">
					
					<div class="media-body">
						<h5 class="mt-0 font-weight-bold">رصيدك الحالي :  {{user.node_set.first.balance|intcomma }} <img src="/static/media/svg/coins.svg" style="width:1rem;margin-right: 1px; "></h5>
						
					</div>
					{% if not user.is_superuser  %}
					<div class="media-body">
						
						<a  class="btn btn-info  " href="{%  url 'lookupbalance' id=user.id %}">لمعرفة رصيدك القادم حتى هذه اللحظة</a>
						
					</div>
					{% endif  %}
				</div>
			</div>
		</div>
		<div class="row   d-flex justify-content-center text-center ">
			<div class="col  col-md-3 col-sm-4   shadow-lg  py-3  rounded   ">				
				<a  class="btn btn-info  " href="{%  url 'transaction' %}"><img  class="site-header-img" src="{% static 'media/svg/transfer.svg' %}" style="width:1.5rem;  ">تحويل رصيد</a>
			</div>
			<div class="col  col-md-3 col-sm-4  shadow-lg  py-3  rounded   ">
				<a  class="btn btn-info  " href="{%  url 'AccountsLoglistView' %}"><img  class="site-header-img" src="{% static 'media/svg/money-transfer.svg' %}" style="width:1.5rem;  ">االعمليات المالية</a>
			</div>
			<div class="col  col-md-3 col-sm-4  shadow-lg  py-3  rounded    ">
				<a  class="btn btn-info  " href="{%  url 'changNodePass' %}"><img  class="site-header-img" src="{% static 'media/svg/insert_colum_unlock_128_hot.svg' %}" style="width:1.5rem;  ">كلمة سر الخزنة </a>
			</div>
		</div>
		
	</div>
{% endblock content %}